@import './var';

#main { 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 4rem;
    .box-wrapper-items {
        max-width: 950px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 30px;
        .box {            
            width: 300px;
            height: 300px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            z-index: 10;
            img { 
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 1s;
            }
            .box-text {
                width: 100%;
                height: 100%;
                background: $colorItems;
                position: absolute;
                top: -100%;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;
                h3 {
                    font-size: 2.3em;
                    color: white;
                }
            }
            &:hover{
                img { 
                    transition: 1s;
                    transform: scale(1.3);
                }
                .box-text {
                    transition: 1s;
                    top: 0;
                }
            }
        }
    }
}