@import './var';

.carousel-main-wrapper {
    width: 100%;
    height: 85vh;
    .img {
        width: 100%;
        height: 100%;
        img { 
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.nav {
    width: 100%;
    height: 15vh;
    background: $bg1;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 150;
    ul {
        display: flex;
        gap: 5px;
        li {
            list-style: none;
            a {
                letter-spacing: 2.1px;
                line-height: 32px;
                font-weight: 300;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                padding: 10px;
                transition: 0.5s;
                &:hover {
                    transition: 0.5s;
                    color: $n1;
                }
            }
        }
    }
    img {
        max-width: 100px;
    }
}
@media (max-width: 768px){
    .nav {
        ul {
            display: none;
        }
    }
}