/* NOSOTROS */

.nosotros_container{
    width: 100%;
    min-height: 30vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5rem 2rem;
    .box-bg { 
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background: rgb(25, 25, 25);
      img { 
        width: 100%;
        height: 100%;
        opacity: 0.09;
        object-fit: cover;
        filter: blur(2px);
      }
    }
  }
  
  .nosotros_wrapper{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .nosotros_item{
    width: 350px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
  }
  
  
  .nosotros_container .nosotros_item .container_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .container_info{
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 35px;
    color: gray;
    p {
      max-width: 40ch;
    }
  }
  
  .container_info h3{
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Sarabun', sans-serif;
    letter-spacing: 2.2px;
    text-transform: uppercase;
  }
  
  .container-productos {
    display: grid;
   grid-template-columns: repeat(auto-fill, 320px);
    grid-template-rows: auto;
    padding-inline: 2rem;
    justify-content: space-evenly;
    margin: auto;
    grid-gap: 2rem;
    padding-top: 25px;
  }
    
  
  .container-productos .img-container{
    flex: 0 1 320px;
    border: 2px solid black;
  }
  
  .container-productos .img-container:hover{
    transform: scale(1.05);
    transition: .7s;
  }
  
  .container-productos .img-container .img-productos{
    width: 100%;
  }