@import './var';

.turismo_galeria {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 2.5rem;
}

.turismo_item {
  width: 250px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  overflow: hidden;
  p {
    color: rgb(85, 85, 85);
  }
}

.turismo_item .img-box {
  width: 100%;
  height: 150px;
  
}

.turismo_item a img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.turismo_item h3 {
  padding: 0;
  margin: 10px 10px;
  font-size: 1em;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

.turismo_item a{
  transition: .5s;
}

.turismo_item a:hover{
  transform: scale(1.2);
}

.wrapper-title {
  width: 100%;
  justify-content: center;
  display: flex;
  .titulo_turismo {
    text-align: center;
    margin: 40px 0;
    font-family: Forum, sans-serif;
    letter-spacing: 1.5px;
    font-size: 2.2em;
    font-weight: 100;
    margin: 2.5em 0em;
    position: relative;
      &::after { 
        content: '';
        display: block;
        width: 37%;
        height: 25px;
        background: $bg1;
        position: absolute;
        margin-top: -13px;
        z-index: -1;

    }
  }
}