.whatsapp {
    position: fixed;
    bottom: calc(30px - 1vw);
    right: calc(30px - 1vw);
    z-index: 1000000;
    width: 90px;
    display: none;
    button {
        border: none;
        cursor: pointer;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}